<app-header></app-header>
<section class="py-5">
    <div class="container-fluid justify-content-center py-5">
        <h3 class="ms-5 pt-3">Consulta de Mantenimientos</h3>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                
            </div>
        </div>
        <div class="row pt-5 text-center">
            <div class="col">
                <h3>En construcción...</h3>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>