<app-header></app-header>
<section class="py-5">
    <div class="container-fluid justify-content-center py-5">
        <h3 class="ms-5 pt-3">Consulta de Equipos</h3>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                
            </div>
        </div>
        <div class="row pt-3">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="col">Número de grupo</th>
                                <th class="col">Nombre del equipo</th>
                                <th class="col">Localización del equipo</th>
                                <th class="col">Ubicación el equipo</th>
                                <th class="col">Marca del equipo</th>
                                <th class="col">Modelo del equipo</th>
                                <th class="col">Tipo</th>
                                <th class="col">Número de serie</th>
                                <th class="col">Potencia</th>
                                <th class="col">Fecha de calibración</th>
                                <th class="col">Observaciones</th>
                                <th *ngIf="superUsuario  || ambosBuques" class="col">Buque Oceanografico</th>
                            </tr>
                        </thead>
                        <tr>
                            <td colspan="12" class="text-center" [innerHTML]="conData"></td>
                        </tr>
                        <tbody *ngIf="whit_data">
                            <tr *ngFor="let equipo of equipment_array;">
                                <td>{{equipo.group_no}}</td>
                                <td>{{equipo.name}}</td>
                                <td>{{equipo.location}}</td>
                                <td>{{equipo.part_ship}}</td>
                                <td>{{equipo.trademark}}</td>
                                <td>{{equipo.model}}</td>
                                <td>{{equipo.type}}</td>
                                <td>{{equipo.serial_number}}</td>
                                <td>{{equipo.power}}</td>
                                <td>{{equipo.calibration_date}}</td>
                                <td>{{equipo.observations}}</td>
                                <td *ngIf="superUsuario || ambosBuques">{{equipo.ship}}</td>
                                <td *ngIf="superUsuario == false && userAdministrador == false">
                                    <button class="btn btn-azul" (click)="getSparePart(equipo)">Consultar Refacciones</button>
                                </td>
                                <td *ngIf="superUsuario || userAdministrador">
                                    <!--TODO cambiar por los colores en el style intercalando el azul y oro-->
                                    <button class="btn btn-azul btn-sm" (click)="addSparePart(equipo)">Registrar Refacciones</button>
                                    <button class="btn btn-oro btn-sm" (click)="getSparePart(equipo)">Consultar Refacciones</button>
                                    <button class="btn btn-azul" (click)="updateEquipment(equipo)">Editar</button>
                                    <button class="btn btn-oro" (click)="deleteEquipment(equipo)">Borrar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>