<app-header></app-header>
<section>
    <div class="container-fluid justify-content-center pt-5">
        <div class="row pt-5">
            <div class="col-sm-8 col-md-6 col-lg-6 col-xl-4 mx-auto pt-5">
                <div class="card text-center bg-light mb-3">
                    <div class="card-header">Registrar</div>
                    <div class="card-body">
                        <form novalidate="" class="p-2">
                            <div class="mb-3">
                                <input placeholder="Nombre" type="text" class="form-control" id="Nombre">
                            </div>
                            <div class="mb-3">
                                <input placeholder="Correo electrónico" type="text" class="form-control"
                                    id="staticEmail">
                            </div>
                            <div class="mb-3">
                                <input placeholder="Password" type="password" class="form-control" id="inputPassword">
                            </div>
                            <div class="mb-3">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Oficina/Buque</option>
                                    <option value="1">Central</option>
                                    <option value="2">Base Golfo</option>
                                    <option value="3">Justo Sierra</option>
                                    <option value="4">Base Pacífico</option>
                                    <option value="5">El Puma</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Cargo</option>
                                    <option value="1">Administrativo</option>
                                    <option value="1">Delegado Administrativo</option>
                                    <option value="1">Jefe de Área</option>
                                    <option value="1">Asistente de Procesos</option>
                                    <option value="2">Capitán</option>
                                    <option value="3">Oficial de Cubierta</option>
                                    <option value="4">Jefe de Máquinas</option>
                                    <option value="5">Oficial de Máquinas</option>
                                    <option value="6">Ingeniero Marino</option>
                                    <option value="7">Contramaestre</option>
                                    <option value="8">Operario diversos oficios</option>
                                    <option value="9">Marino Timonel</option>
                                </select>
                            </div>
                            <div class="d-grid">
                                <button class="btn btn-primary btn-lg"> Registrar </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<app-footer></app-footer>