<nav class="navbar bg-light shadow">
    <div class="container-fluid">
        <a class="navbar-brand site-description" href="#">
            <img src="/assets/img/logoCopo.png" alt="Logo" width="50" height="51"
                class="d-inline-block align-text-center">
            Control de Refacciones
        </a>
        <!--<p class="site-description">Coordinación de Plataformas <br> Oceanográficas</p>-->
        <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
            <li><a href="/">Login</a></li> &nbsp;
            <li><a href="/usuario">Registro</a></li>
        </ul>

    </div>
</nav>
<main>
    <div class="container-fluid justify-content-center pb-5">
        <div class="row">
            <div class="col-sm-8 col-md-6 col-lg-6 col-xl-4 mx-auto">
                <h2 class="py-3 text-center">Bienvenido</h2>
                <div class="card text-center bg-light mb-3">
                    <div class="card-header">Inicia Sesión</div>
                    <div class="card-body">
                        <form novalidate="" class="p-2">
                            <div class="mb-3">
                                <input placeholder="Correo electrónico" type="text" class="form-control"
                                    id="staticEmail">
                            </div>
                            <div class="mb-3">
                                <input placeholder="Password" type="password" class="form-control" id="inputPassword">
                            </div>
                            <div class="d-grid">
                                <button class="btn btn-primary btn-lg"> Iniciar sesión </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>