<app-header></app-header>
<br><br>
<br><br>
<main class=" py-md-0">
    <div class="container-fluid justify-content-center pb-5">
        <div class="row">
            <div class="col-sm-8 col-md-6 col-lg-6 col-xl-4 mx-auto pt-3 pt-md-0">
                <h2 class="py-3 text-center">Bienvenido</h2>
                <div class="card text-center bg-light mb-3">
                    <div class="card-header">Inicia Sesión</div>
                    <div class="card-body">
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
                            <div class="form-group mb-3">
                                <input type="email" name="email" placeholder="Correo electrónico" class="form-control" formControlName="email">
                                <div *ngIf="loginForm.get('email')?.invalid  && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)" class="text-danger">
                                    <div *ngIf="loginForm.get('email')!.errors!['required']">
                                        Correo es requerido.
                                    </div>
                                    <div *ngIf="loginForm.get('email')!.errors!['email']">
                                        El correo electrónico debe ser una dirección de correo electrónico válida.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <input type="password" name="password" placeholder="Contraseña" class="form-control" formControlName="password">
                                <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)" class="text-danger">
                                    <div *ngIf="loginForm.get('password')!.errors!['required']">
                                        Contraseña es requerida.
                                    </div>
                                    <!--<div *ngIf="form['password']!.errors!['minlength']">
                                        Password must be at least 6 characters long.
                                    </div>-->
                                </div>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary btn-lg">Iniciar sesión</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>