<main class="py-md-0">
    <div class="container-fluid justify-content-center pb-5">
        <div class="row">
            <div class="col-sm-8 col-md-6 col-lg-6 col-xl-4 mx-auto pt-3 pt-md-0">
                <h2 class="py-3 fx-bold text-center">Bienvenido</h2>
                <div class="card bg-light mb-3">
                    <div class="card-header fw-bold text-center">Inicia Sesión</div>
                    <div class="card-body">
                        <form #loginForm class="row g-3 needs-validation" name="loginForm" novalidate (submit)="onLogin(loginForm, $event)">
                        <div class="form-floating">
                            <input type="email" class="form-control" id="loginEmail" placeholder="Ingresa tu correo" required>
                            <label for="loginEmail">Correo electrónico</label>
                            <div class="invalid-feedback text-end">
                                Correo es requerido
                            </div>
                        </div>
                        <div class="form-floating">
                            <input type="password" class="form-control" id="loginPass" placeholder="Ingresa tu contraseña" required>
                            <label for="loginPass">Contraseña</label>
                            <div class="invalid-feedback">
                                Contraseña es requerido
                            </div>
                        </div>
                        <div class="d-grid my-3">
                            <button class="btn btn-primary btn-lg" type="submit">Iniciar sesión</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>