<app-header></app-header>
<section class="py-5">
    <div class="container-fluid justify-content-center py-5">

        <h3 class="ms-5 pt-3">Consulta de Usuarios</h3>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <!--<p class="text-end me-5"><button type="submit" class="btn btn-primary btn-lg"
                        (click)="get_users()">Obtener listado</button></p>-->
            </div>
        </div>
        <div class="row pt-3 text-center">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="col">Nombre de Usuario</th>
                                <th class="col">Correo</th>
                                <th class="col">Departamento o Base</th>
                                <th class="col">Buque</th>
                                <th class="col">Posición</th>
                                <th class="col">Fecha Alta</th>
                                <th class="col">Eliminado</th>
                            </tr>
                        </thead>
                        <tr>
                            <td colspan="6" class="text-center" [innerHTML]="conData"></td>
                        </tr>
                        <tbody *ngIf="whit_data">
                            <tr *ngFor="let usuario of users_array;">
                                <td>{{usuario.name}}</td>
                                <td>{{usuario.email}}</td>
                                <td>{{usuario.department_or_base}}</td>
                                <td>{{usuario.ship}}</td>
                                <td>{{usuario.position}}</td>
                                <td>{{usuario.created_at}}</td>
                                <td>{{usuario.status_delete}}</td>
                                <td>
                                    <button class="btn btn-primary" (click)="editarUsuario(usuario)">Editar</button>
                                    <button class="btn btn-danger" (click)="borrarUsuario(usuario)">Borrar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>