@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css2?family=Jura&display=swap");

.site-description {
    font-family: "Jura", sans-serif;
    line-height: 1;
    color: #1C355E;
}

.btn-azul {
    background-color: #1C355E;
    color: white;
    font-weight: bold;
}

.btn-azul:hover {
    background-color: #1C355E;
    color: #BF9E5D;
    transition-duration: 0.4s;
}

.btn-oro {
    background-color: #BF9E5D;
    color: white;
    font-weight: bold;
}

.btn-oro:hover {
    background-color: #BF9E5D;
    color: #1C355E;
    transition-duration: 0.4s;
}
