@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css2?family=Jura&display=swap");

.site-description {
    font-family: "Jura", sans-serif;
    line-height: 1;
    color: #1C355E;
}

.btn-azul {
    background-color: #1C355E;
    color: white;

}

.btn-azul:hover {
    background-color: #1C355E;
    color: #BF9E5D;
    transition-duration: 0.4s;
}

.btn-oro {
    background-color: #BF9E5D;
    color: white;
}

.btn-oro:hover {
    background-color: #BF9E5D;
    color: #1C355E;
    transition-duration: 0.4s;
}


.btn-grad {
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE 51%, #1A2980 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}